<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ApiIntegrationTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <ApiIntegrationTest.Properties.Settings>
            <setting name="ServerNameLogin" serializeAs="String">
                <value>https://st1login.servicechannel.com/oauth/token</value>
            </setting>
            <setting name="ServerNameApi" serializeAs="String">
                <value>st1.servicechannel.com</value>
            </setting>
            <setting name="ClientId" serializeAs="String">
                <value>sc_internal_api_documentation</value>
            </setting>
            <setting name="ClientSecret" serializeAs="String">
                <value>BAD4554B-AAE5-404B-8277-7F3D921B3EFC</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>demo</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>d3m0</value>
            </setting>
            <setting name="AuthBasic" serializeAs="String">
                <value>c2NfaW50ZXJuYWxfYXBpX2RvY3VtZW50YXRpb246QkFENDU1NEItQUFFNS00MDRCLTgyNzctN0YzRDkyMUIzRUZD</value>
            </setting>
            <setting name="XML" serializeAs="String">
                <value>&lt;?xml version="1.0"?&gt;&lt;DATA2SC PIN="40487" ID="942842206"&gt;&lt;CALL DATETIME="2016/12/30 11:03:39" OPERATOR="BulkPMDispatcher" CALLER="PM XML Interface" CATEGORY="Maintenance" SUB="2000001305" LOC="2310" TRADE="FLOOR MAINTENANCE-WOOD" WO_NUM="12942866" PO_NUM="12942866" STATUS="OPEN" PRIORITY="P7 (Routine &amp;amp; PM)" CURRENCY="USD"&gt;&lt;PROBLEM&gt;Test&lt;/PROBLEM&gt;&lt;/CALL&gt;&lt;/DATA2SC&gt;</value>
            </setting>
            <setting name="XML_code" serializeAs="String">
                <value>%3C%3Fxml%20version%3D%221.0%22%3F%3E%3CDATA2SC%20PIN%3D%2240487%22%20ID%3D%22942842206%22%3E%3CCALL%20DATETIME%3D%222016/12/30%2011%3A03%3A39%22%20OPERATOR%3D%22BulkPMDispatcher%22%20CALLER%3D%22PM%20XML%20Interface%22%20CATEGORY%3D%22Maintenance%22%20SUB%3D%222000001305%22%20LOC%3D%222310%22%20TRADE%3D%22FLOOR%20MAINTENANCE-WOOD%22%20WO_NUM%3D%2212942867%22%20PO_NUM%3D%2212942867%22%20STATUS%3D%22OPEN%22%20PRIORITY%3D%22P7%20%28Routine%20%26amp%3B%20PM%29%22%20CURRENCY%3D%22USD%22%3E%3CPROBLEM%3ETest%3C/PROBLEM%3E%3C/CALL%3E%3C/DATA2SC%3E</value>
            </setting>
        </ApiIntegrationTest.Properties.Settings>
    </applicationSettings>
</configuration>